.tags-oben
  - Tag.all.each do |tag|
    %a.mbadge.badge-primary{:href => show_tag_path(tag)}
      %h6= tag.name
%br/
%br/
.mcontainer
  .roww
    - @posts.each do |post|
      .allert.alert-prim{:role => "allert"}
        %h3= link_to post.title, post
        %p== #{time_ago_in_words post.created_at} ago
          
        - post.tags.each do |tag|
          %a.badge.badge-primary{:href => show_tag_path(tag)}= tag.name