<h1><%= @tag.name %></h1>

<div>
    <% @tag.posts.each do |post| %>
        <ul><%= link_to post.title, post %>
            <li></li>
        </ul>
    <% end %>
</div>

<div class="container">
    <div class="row">
        <% @tag.posts.each do |post| %>
            <div class="alert alert-primary" role="alert">
            <%= link_to post.title, post %>
            <% end %>
        </div>
    </div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
</div>