<body>
    <h1>Post verfassen</h1>

    <h3> Ein neues leckeres Rezept gefunden? Speicher es schneller hier!</h3> 

    <%= render 'form', post: @post %>
    <br>
    <%= link_to 'Back', posts_path %>
</body>