.header
  display: flex
  margin: 1rem 0

  h2
    // background-color: rgba(11, 9, 107, 0.198)
    color: rgb(30, 26, 77)
    text-shadow: 3px 3px rgba(0, 0, 255, 0.418)
    font-family: cursive
    margin-bottom: 0

  .nav
    // background-color: rgba(11, 9, 107, 0.198)
    color: rgb(30, 26, 77)
    font-family: cursive
    width: 100%
