%header
  .header
    .titel 
      %a{:href => "/"} Rezeptenbibliothek
    %nav.nav.nav-pills.justify-content-end.top-menu
      %li.nav-item
        %a.nav-link{:href => "/"} Home
      %li.nav-item
        %a.nav-link.active{:href => "/posts/new"} New Post
      %li.nav-item
        %a.nav-link{:href => "/posts"} Posts
      %li.nav-item
        %a.nav-link{:href => "/comments"} Comments


  - if flash[:notice].present?
    .alert.alert-info.success{role: "alert"}
      = sanitize flash[:notice], tags: %w(br ul li strong)
      -# %button.close{"data-dismiss": "alert", type: "button"} ×

  -# - if flash[:alert].present?
  -#   .alert.alert-danger{role: "alert"}
  -#     = sanitize flash[:alert], tags: %w(br ul li strong)
      -# %button.close{"data-dismiss": "alert", type: "button"} ×
