%header
  .header
    %h2 Rezeptenbibliothek
    %nav.nav.nav-pills.justify-content-end.top-menu
      %li.nav-item
        %a.nav-link.active{:href => "/"} Home
      %li.nav-item
        %a.nav-link{:href => "/posts"} Posts
      %li.nav-item
        %a.nav-link{:href => "/posts/new"} New Post
      %li.nav-item
        %a.nav-link{:href => "/comments"} Kommentar